body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
}
button{
    padding: 10px 40px;
    background-color: transparent;
    border-radius: 30px;
    font-size: 1rem;
}
button:hover{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}